
.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Menucontainer{
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.MealInfoContainer{
  height: 100vh;
}

.grid > div {
  flex-basis: calc(30% - 5px);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}