
.box {
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 100%;


}

.grid {
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
    overflow-x: hidden;

    width: 100%;
}

.Menucontainer{
    height: 100vh;
    overflow:visible;
}

.grid > div {
    flex-basis: calc(21% - 5px);
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.GoBackBtn{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.CataBlock {
    border:3px solid gray;
    margin: 5px;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}

.MealInfoContainer{
    height: 100vh;
    width: 100%;
}

.MealInfoContainer .header{
    color: red;
}

.OrderListContainer {
    padding: 10px;
    height: 70vh;
    width: 100%;
    margin: 5px;
    background-color: aqua;
}

.PaymentInfo{
    height: 15vh;
    margin-top: 20px;
}

.btn{
    background-color: red;
    font-weight: bolder;
}

